<h1><%= @coin[:name] %></h1>
<h2><%= @coin[:hashrate] %></h2>

<div class='worker-list'>
<% Multipool::Worker.all.each do |name, status| %>
  <p class='align-left'><%= name %></p>
  <p class='align-right'><%= status %></p>
<% end %>
</div>
